{% extends 'issues/base_project.html' %}

{% block article_content %}
<h2>{{ milestone }}少时诵诗书是三</h2>
{% if milestone.description %}<p>{{ milestone.description }}</p>{% endif %}
{% if milestone.date_due %}<p>Due in {{ milestone.date_due|timeuntil }}</p>{% endif %}
{% if milestone.issue_set.count %}
    <h3>Issues for this milestone</h3>
	<ul>
	{% for issue in milestone.issue_set.all %}
	   <li><a href="{{ issue.get_absolute_url }}">{{ issue }}</a></li>
	{% endfor %}
	</ul>
{% else %}
{% endif %}
{% endblock article_content%}

{% block js.extra %}

{% endblock js.extra %}